body{
    background-image: url(images.doc/Tea\ shop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
}
header{
    background-color: #a1b06b;
    margin: 40px;
    height: 100px;
}
@font-face{
    src: url(fonts.doc/OpenSans-VariableFont_wdth,wght.ttf);
    font-family: OpenSans;
}
@font-face {
    font-family: Pleuf Pro;
    src: url(fonts.doc/PleufPro-Bold.ttf)
  }
  @font-face {
    font-family: 'Pleuf Pro';
    src: local('Pleuf Pro Bold'), local('Pleuf-Pro-Bold'),
        url('PleufPro-Bold.woff2') format('woff2'),
        url('PleufPro-Bold.woff') format('woff'),
        url('PleufPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
.font1{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
  color: #2c442c;
}
#Hlinks{
    margin: auto;
}
main{
    background-color: #d4ea9f;
    margin: 50px;
}
.table{
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Pleuf Pro';
}
.font2{
    font-family: 'Pleuf Pro';
    color: #2c442c;
}
.button{
    background-color: #276717;
    color: #a1b06b;
    border-radius: 4px;
    border-style: outset;
    border-color: #2c442c;
    font-family: 'Pleuf Pro';
}
.button1{
    background-color: #276717;
    color: #a1b06b;
    height: 100px;
    width: 100px;
    font-size: large;
    position: fixed;
    box-shadow: 3px 3px 3px #103706;
    border-radius: 7px;
    border-style: outset;
    border-color: #2c442c;
    font-family: 'Pleuf Pro';
}
.video{
    border: 15px ridge  #54a664;/*solid,dashed,dotted,double,groove,ridge,inset,outset,none*/
    border-radius: 10px;
    margin: 100px;
    text-align: center;
    font-family: 'Pleuf Pro';
    color: #2c442c;
}
.about{
    border: 15px ridge  #54a664;
    border-radius: 10px;
    margin: 100px;
    text-align: center;
    font-family: 'Pleuf Pro';
    color: #2c442c;
}
.def{
    border: 15px ridge  #54a664;
    border-radius: 10px;
    margin: 100px;
    text-align: center;
    font-family: 'Pleuf Pro';
    color: #2c442c;
}
.list{
    border: 15px ridge  #54a664;
    border-radius: 10px;
    margin: 100px;
    text-align: center;
    font-family: 'Pleuf Pro';
    color: #2c442c;
}
#img1{
    box-shadow: 2px 2px 2px hsl(34, 67%, 20%);
    float: left;
    margin-right: 10px;
    margin-left: 20px;
}
#img2{
    box-shadow: 2px 2px 2px hsl(34, 67%, 20%);
    float: right;
    margin-left: 10px;
    margin-right: 20px;
}
footer{
    background-color: #a1b06b;
}