.page{
    text-align: center;
}
.page a{
    color: hsl(219, 100%, 28%);
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.page .active{
    background-color: hsl(219, 100%, 77%);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 2px hsl(219, 57%, 21%);

}
.page a:hover:not(.active){
    background-color: hsl(218, 100%, 93%);
    border-radius: 5px;
}