h1::first-letter{
    font-size: 2em;
    font-style: italic;
    color: hsl(34, 100%, 86%);
}
pre::first-line{
    background-color: hsl(159, 100%, 78%);
}
pre::selection{
    color: hsl(159, 100%, 78%);
    background-color: rgb(105, 105, 105);
}
#list li::before{
    content: "✅";
}
#Panda::after{
    content: "🐼";
}
#Music::after{
    content: "🎵";
}
#English::after{
    content: "🔤";
}