div{
    background-color: brown;
    width: 100px;
    height: 100px;
    text-align: center;
    display: block;
}
span{
    background-color: bisque;
    padding: 25px;
    width: 40px;
    height: auto;
    display: block;
}