*{
    box-sizing: border-box;
}
.container{
    background-color: hsl(240, 34%, 34%);
    height: 200vh;
}
.box{
    background-color: aliceblue;
    border: 2px solid;
    padding: 20px;
    height: 10%;
    width: 50%;
    float: left;
    text-align: center;

    min-height: 25%;
}