body{
    background-image: url(images.doc/Taj\ Mahal.jpg);/*images.doc/Taj\ Mahal\ low.jpg*/
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}